/* Custom Site Styles */
html {
	background-image: url("../images/background.jpg");
	padding: .625em; /* 10px @ 16px */
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ie-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@media screen and (min-width: 37.5em) {
  html {
    font-size: 120%;
  }
}

body {
  color: #222; /* Never quite true black */
  background: #FAFAFA; /* A little grayer than true white */
  font-size: 1.125em; /* 18px base font size */
  line-height: 1.44em; /* 25.92px baseline grid */
}

#header {
	border-radius: 0.75em 0.75em 0 0; 

	  background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(125, 129, 112, 0.5) , 
      rgba(125, 129, 112, 0.8) 
    ),
    /* bottom, image */
    url("../images/header_back.jpg");
	color: #FFFFFF;
}

#header a#logo1 img {
width: 3.5em; /* 10px @ 16px */
height: 3.75em; /* 10px @ 16px */
}

#header h1 {
	font-family: 'Lobster', cursive;
	font-size: 3em;  /* 10px @ 16px */
  line-height: 1.0437583893em;
}

#header h2, #emailAddress {
  font-family: 'Roboto', sans-serif;
  font-size: 1.35em;  /* 10px @ 16px */
  line-height: 1.0437583893em;
}

#email{
  width: 15.3125em;
  height: 3em;
  -webkit-border-radius: 0.625em;
    -moz-border-radius: 0.625em;
  border:0.0625em solid transparent;
}

#send{
  text-align: center;
  width: 3.25em;
  height: 2em;
  border:0.0625em solid transparent;
  border-radius: 0.625em;
  font:bolder;
  font-size: 1.375em;
}

label:after {
  content: ":  ";
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.074em;
  font-weight: bold;
  line-height: 1.0437583893em;
}

p {
  text-indent: 9.09090909%; /* Use one of 7-column grid to indent * */
}

h3 + p {
  text-indent: 0; /* But don't indent at all on paragraphs immediately following h1 */
}

h3 + p::first-line {
  font-variant: small-caps; /* This is ugly; with OpenType, we can make it better */
}

#contact_info {
  padding-left: 1.25em;
}

#time {
  padding-left: 2.575em;
}

#content-wrapper {
  margin: 0.728em 2.16em 1.44em 1.44em; /* Use 6:5 ratio w/ baseline grid for mobile-first margins */
}

@media screen and (min-width: 790px) { /* Leaving media query in pixels for class demo */

h3{
    position: absolute; /* Pull headings out of the document flow */
  }
  
h3 {
    top: 10.85em; 
  }

  #content-wrapper {
    margin: 21.81818181% 27.27272727% 1.44em 18.18181818%;
    /* Top margin makes for the 6:5 ratio of the left one-column margin */
    /* 21.81818181 / 11 = 1.9834710736% */
  }


